<% n = 'odd' %>
<% @items.each do |resource| %>
  <li class="<%= n %>">
    <div class="item">
      <span class="object_link"><%= linkify resource, h(resource_name(resource)) %></span>
      <small><%= resource.docstring %></small>
    </div>
  </li>
  <% n = n == 'odd' ? 'even' : 'odd' %>
<% end %>
