<% if object.has_tag?(:response) %>
  <div class="responses">
    <p class="tag_title">Errors:</p>
    <table>
      <thead>
        <tr>
          <th>HTTP-code</th>
          <th>Description</th>
          <th>JSON</th>
        </tr>
      </thead>
      <tbody>
        <% object.tags(:response).each do |tag| %>
          <tr>
            <td><%= tag.type %></td>
            <td><%= tag.name %></td>
            <td class="code">
              <pre class="example code"><code><%= html_syntax_highlight(tag.text) %></code></pre>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
