#content h1 small {
  color: #888;
  font-size: small;
}

.tags .responses .tag_title {
  margin-bottom: 10px;
}

.tags .responses table {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #dddddd;
  border-collapse: separate;
  border-left: 0;
  border-radius: 4px;
  border-spacing: 0;
  border-top: 0;
  margin-bottom: 18px;
  max-width: 100%;
  width: 100%;
}

.tags .responses table th,
.tags .responses table td {
  border: 1px solid #dddddd;
  border-bottom: 0;
  border-right: 0;
  padding: 8px;
  vertical-align: top;
}

.tags .responses table th {
  font-weight: bold;
  text-align: left;
}

.tags .responses table td.code {
  background: #f7f7f9;
  padding: 0;
}

.tags .responses table td.code .example.code {
  border-radius: 0;
  border: none;
  line-height: 1.5145em;
  margin: 0;
  min-height: 1.5145em;
  padding: 8px;
}

.tags .responses table p,
.tags .responses table ul {
  margin-top: 0;
}

tt,
.tags ul .name {
  font-size: 0.9em;
}

code,
.docstring p > code,
.docstring p > tt,
.tags p > code,
.tags p > tt {
  background: #f7f7f9;
  border-radius: 4px;
  border: 1px solid #e1e1e8;
  color: #d14;
  font-size: 0.9em;
  padding: 2px 4px;
}

pre code {
  background: none;
  border: none;
  color: initial;
  padding: 0;
}
