#content h1 small {
  color: #888;
  font-size: small;
}

.tags .errors .tag_title {
  margin-bottom: 10px;
}

.tags .errors table {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #dddddd;
  border-collapse: separate;
  border-left: 0;
  border-radius: 4px;
  border-spacing: 0;
  border-top: 0;
  margin-bottom: 18px;
  max-width: 100%;
  width: 100%;
}

.tags .errors table th,
.tags .errors table td {
  border: 1px solid #dddddd;
  border-bottom: 0;
  border-right: 0;
  padding: 8px;
  vertical-align: top;
}

.tags .errors table th {
  font-weight: bold;
  text-align: left;
}

.tags .errors table td.code {
  padding: 0;
}

.tags .errors table td.code .example.code {
  border-radius: 0;
  border: none;
  margin: 0;
  padding: 8px;
}
